@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
  --bs-body-font-family: 'Inter', sans-serif;
  --bs-body-color: #212529;
  --bs-body-bg: #ffffff;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.text-bg-success {
    color: #fff !important;
    background-color: RGBA(25, 135, 84, var(--bs-bg-opacity, 1)) !important;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}

.fa-stack-1x, .fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

h2.border-bottom {
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0px 30px 50px -20px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-bottom: 1rem !important;
}